.svg-icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
  display: inline-block;
  vertical-align: middle;
  flex-shrink: 0;

  // 12px
  &--sm {
    font-size: 0.75rem;
  }

  // 16px
  &--md {
    font-size: 1rem;
  }

  // 20px
  &--lg {
    font-size: 1.25rem;
  }

  // 24px
  &--xl {
    font-size: 1.5rem;
  }
}
